<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


<div class="container-fluid">
	<div class="row">
	<%  @subcategories.each do |subcategory| %>
		<div class="col-md-2 col-sm-3 col-xs-5">
		<b><%= link_to subcategory.name, category_subcategory_path(@category, subcategory)  %></b>
		</div>
	<% end %>
	</div>
</div>